POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=moodtrackerdb

POSTGRES_URL=postgresql://postgres:postgres@postgres:5432/moodtrackerdb
CONNECTION_STRING="Host=moodtracker-db;Port=5432;Database=moodtrackerdb;Username=postgres;Password=postgres"

JWT_ISSUER=seu_issuer
JWT_AUDIENCE=seu_audience
JWT_KEY=sua_chave_forte

TOKEN_ENCRYPTION_KEY=seu_token_seguro_32_bytes
TOKEN_ENCRYPTION_KEY_IV=seu_token_seguro_16_bytes

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu.email@example.com
SMTP_PASSWORD=sua_senha
FROM_ADDERS=seu.email@example.com
SMTP_SENDER_NAME=seu_nome

API_URL=http://localhost:5000/api
WEB_APP_URL=http://localhost:5173
